@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-image:url('OIP.jpeg') ;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    color: rgba(242, 240, 250, 0.868);
    margin-top: 100px;
}
#search-button{
    width: 90px;
    height: 35px;
    background-color: rgb(105, 51, 4);
    color:white;
    border: 2px ;
    font-size: 25px;
    font-family: sans-serif;
}
